@font-face {
    font-family: 'Roboto Custom Bold';
    src: url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Custom';
    src: url('Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}